<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
      <key>EnvironmentVariables</key>
      <dict>
        <key>PATH</key>
        <string>/usr/local/bin/:$PATH</string>
        <key>ZEBRA_PRINT_QUEUE_NAME</key>
        <string>Zebra_Technologies_ZTC_GK420t</string>
      </dict>
      <key>WorkingDirectory</key>
      <string>/Users/omc1/zebra-client</string>
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
            <false/>
        </dict>
        <key>Label</key>
        <string>co.othermachine.zebra-client</string>
        <key>ProgramArguments</key>
        <array>
          <string>/usr/bin/touch</string>
          <string>/Users/omc1/zebra-client/hello</string>
        </array>
        <key>RunAtLoad</key>
        <true/>

    </dict>
</plist>
